#ifndef WIFI_CREDENTIALS_H
#define WIFI_CREDENTIALS_H

/* 
 * Цей файл є прикладом. 
 * Скопіюйте його з назвою wifi_credentials.h та введіть ваші дані.
 * Файл wifi_credentials.h ігнорується Git для вашої безпеки.
 */

#define MY_WIFI_SSID       "YOUR_SSID_HERE"
#define MY_WIFI_PASSWORD   "YOUR_PASSWORD_HERE"

#endif